<table><hr>
<!--Avatar-->
<td>
    <img src="{{ post.author.avatar(80) }}">
</td>

<!--Nickname-->
<td>
    <strong>
    {% autoescape false %}
        <p>{{ _('%(nickname)s said %(when)s:', nickname = '<a href="%s">%s</a>' % (url_for('user', nickname=post.author.nickname), post.author.nickname), when=momentjs(post.timestamp).fromNow()) }}</p>
    {% endautoescape %}
    </strong>

<!--Body-->
    <p>
        <span id="post{{ post.id }}">{{ post.body }}</span>
    </p>

    {% if post.author.id == g.user.id %}

    <!--Translate-->
    {% if post.language != None and post.language != '' and post.language != g.locale %}
    <a href="javascript:translate('{{ post.language }}', '{{ g.locale }}', '#post{{ post.id }}', '#translation{{ post.id }}', '#loading{{ post.id }}');">{{ _('Translate') }}</a>
    <img id="loading{{post.id}}" style="display: none" src="/static/img/loading.gif">
    {% endif %}</p>

    <!--Delete Post-->
    <div><a href="{{ url_for('delete', id=post.id) }}">{{ _('Delete') }}</a></div>
    {% endif %}

</td>
</table>